:root[theme="light"] {
  --background: #ffffff;
  --surface-1dp: #d73111;
  --surface-4dp: #f33f1b;
  --surface-8dp: #ff8061;
  --surface-24dp: #ffffff;
  --on-surface: #000;

  --primary: #ffffff;
  --primary-hover: #ffffff6f;
  --on-primary: #000;

  --secondary: #ff8061;
  --secondary-hover: #ffa38c;
  --on-secondary: #000;

  --link-onHero: #fff;

  color-scheme: light;
}

:root[theme="dark"] {
  --background: #121212;

  --surface-1dp: #1c1c1c;
  --surface-2dp: #202020;
  --surface-3dp: #232323;
  --surface-4dp: #272727;
  --surface-6dp: #2a2a2a;
  --surface-8dp: #2e2e2e;
  --surface-12dp: #313131;
  --surface-16dp: #353535;
  --surface-24dp: #383838;
  --on-surface: #ffffff;

  --primary: #00c8ff;
  --primary-hover: #b9f0ff;
  --on-primary: #000;

  --secondary: #ff8061;
  --secondary-hover: #ffa38c;
  --on-secondary: #000;

  --link-onHero: #fff;

  color-scheme: dark;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
}

html,
body {
  max-width: 100svw;
  min-height: 100svh;
  overflow-x: hidden;
}

body {
  color: var(--on-surface);
  background: var(--background);
  font-family: var(--font-redhat-norm), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: grid;
  grid-template-rows: 5rem calc(100svh - 5rem);
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "navbar navbar"
    "main sidebar";
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-appearance: none;
}

main {
  grid-area: main;
  overflow: auto;
  position: relative;
}

.navbar {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  grid-area: navbar;
  margin-bottom: 0.5rem;
  background-color: var(--surface-1dp);
}

.navbar > div {
  display: flex;
  width: 100%;
  gap: 1rem;
  padding: 0 1rem;
}

.about-btn,
.theme-btn,
.home-btn,
.shop-btn,
.cart-btn {
  font-size: 1.5rem;
  background: none;
  border: none;
  padding: 0.2rem;
  font-weight: 550;
  cursor: pointer;
  -webkit-appearance: none;
  color: var(--on-surface);
}

.home-btn.active,
.shop-btn.active {
  background-color: var(--primary);
  border-radius: 8px;
  color: var(--on-primary);
}

.cart-btn {
  margin-left: auto;
}

.theme-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cart-bubble {
  position: absolute;
  min-width: 20px;
  right: 3rem;
  top: 0.3rem;
  background-color: var(--surface-24dp);
  color: var(--on-surface);
  font-weight: 600;
  text-align: center;
  border-radius: 50rem;
  padding: 0.25rem;
}

.sidebar {
  grid-area: sidebar;
  max-height: 100svh;
  width: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--surface-4dp);
  padding: 1rem;
  transition-property: width;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.sidebar.open > * {
  animation: open 0.4s ease-in 0.3s forwards;
}

.sidebar.open {
  width: 20rem;
  @starting-style {
    width: 1rem;
  }
}

.sidebar > * {
  opacity: 0;
  animation: close 0.2s ease-out forwards;
}

@keyframes close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes open {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

.home-content {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
}

.home-content > .men,
.home-content > .women {
  display: flex;
  flex: 1;
  height: 100%;
  font-size: 2rem;
  font-weight: 900;
  align-items: center;
  justify-content: center;
  color: var(--link-onHero);
}

.about-btn {
  width: 70px;
  font-size: 1.5rem;
  position: absolute;
  top: 75%;
  left: calc(50% - 35px);
  padding: 1rem;
  color: var(--link-onHero);
}

.about {
  display: grid;
  position: relative;
  height: 100%;
  grid-template-rows: 100% 100%;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "left-top right-top"
    "left-bottom right-bottom";
  justify-items: center;
  align-items: center;
}

.about > div > ul > li,
.about > div > p {
  font-size: 1rem;
  max-width: 45ch;
  margin: 1rem 0;
}

.about > div > ul {
  margin-left: 1rem;
}

.left-top {
  grid-area: left-top;
  background-color: var(--background);
  padding: 1rem;
}

.left-bottom {
  grid-area: left-bottom;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.right-top {
  grid-area: right-top;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.right-bottom {
  grid-area: right-bottom;
  background-color: var(--background);
  padding: 1rem;
}

.top-btn {
  position: absolute;
  bottom: calc(-100svh + 7rem);
  left: 2rem;
  width: 40px;
  height: 40px;
  border-radius: 100vw;
  background-color: var(--primary);
  color: var(--on-primary);
  font-size: 1rem;
  font-weight: 700;
}

.shop {
  background-color: var(--surface-4dp);
  border-radius: 16px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.shop > div {
  padding: 1rem 0;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  min-height: calc(100svh - 5rem);
}

.category > h2 {
  padding: 1rem;
  width: 100%;
  text-align: center;
  background-color: var(--surface-8dp);
  font-family: var(--font-redhat-italic);
  box-shadow: #181817 -2px 2px 3px 0px;
}

.products {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  display: flex;
  min-width: 250px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--surface-8dp);
  border-radius: 8px;
  padding: 1rem;
  gap: 1rem;
}

:root[theme="light"] > body > main > .shop > .category > .products > .card {
  -webkit-box-shadow: 8px 8px 6px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 8px 6px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 8px 6px 0px rgba(0, 0, 0, 0.75);
}

:root[theme="light"] > body > nav > .cart > .listing,
:root[theme="light"]
  > body
  > main
  > .shop
  > .category
  > .products
  > .card
  > .details {
  -webkit-box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.75);
}

:root[theme="light"]
  > body
  > main
  > .shop
  > .category
  > .products
  > .card
  > .card-img {
  -webkit-box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.75);
  filter: unset;
}

.card > .card-img {
  width: 200px;
  padding: 1rem;
  height: auto;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 8px;
  filter: brightness(0.8) contrast(1.2);
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background-color: var(--surface-24dp);
  padding: 1rem;
  width: 200px;
  gap: 0.2rem;
}

.btnWrapper {
  display: flex;
  width: 100%;
}

.btnWrapper > label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btnWrapper > label > input {
  min-width: 2rem;
  max-width: 3rem;
  height: 1.5rem;
  font-size: 1rem;
  text-align: center;
}

.remove-btn,
.add-btn {
  width: 24px;
  height: 24px;
  border-radius: 50rem;
  background-color: var(--secondary);
  margin-left: auto;
  border-width: 1px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--on-secondary);
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

.listing {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--surface-8dp);
  border-radius: 6px;
  padding: 1rem;
}

.listing > img {
  background-color: #fff;
  border-radius: 6px;
  padding: 0.3rem;
  filter: brightness(0.8) contrast(1.2);
}

.total {
  font-size: 1.2rem;
  margin-top: auto;
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
  .card {
    min-width: unset;
    max-width: 200px;
  }

  .details,
  .card > .card-img {
    width: 150px;
  }

  .btnWrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.3rem 0;
  }
  .btnWrapper > button {
    margin: 0;
  }

  .sidebar.open {
    width: 10rem;
  }

  .theme-btn,
  .home-btn,
  .shop-btn,
  .menu-btn {
    font-size: 1rem;
  }

  .about {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .listing {
    flex-direction: column;
  }

  .total {
    font-size: 1rem;
  }

  .left-top,
  .left-bottom,
  .right-top,
  .right-bottom {
    min-height: 100svh;
  }

  .left-bottom,
  .right-top {
    background-position: center;
  }

  .top-btn {
    bottom: calc(0px + 2rem);
  }
}

@media (hover: hover) {
  .home-btn:hover,
  .shop-btn:hover,
  .theme-btn:hover,
  .cart-btn:hover {
    background-color: var(--primary-hover);
    border-radius: 8px;
    color: var(--on-primary);
  }

  .remove-btn:hover,
  .add-btn:hover {
    background-color: var(--secondary-hover);
  }

  .home-btn:hover.active,
  .shop-btn:hover.active,
  .menu-btn:hover.active {
    background-color: var(--primary);
  }

  .about-btn:hover,
  .home-content > .men:hover,
  .home-content > .women:hover {
    color: var(--primary);
  }
}

@keyframes loading {
  0% {
    background-position: -250px 0;
  }
  100% {
    background-position: 250px 0;
  }
}

.loading {
  animation: loading 3s linear;
  animation-iteration-count: infinite;
  background: linear-gradient(
    to right,
    rgba(140, 140, 140, 0.05) 0%,
    rgba(140, 140, 140, 0.1) 15%,
    rgba(140, 140, 140, 0.05) 30%
  );

  background-size: 250px 100%;
}
